export(authored)
export(authors)
export(categories)
export(coauth)
export(details)
export(erdos_number)
export(groups)
export(msearch)
export(name_match)
export(papers)
export(public_groups_details)
export(public_groups_documents)
export(public_groups_overview)
export(public_groups_people)
export(publications)
export(related)
export(show_authors)
export(show_titles)
export(show_years)
export(subcategories)
export(subset_by_author)
export(tagged)
export(tags)
import(RCurl)
import(RJSONIO)
